<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<h2>Task lists</h2>
<% if @project.task_lists.any? %>
<% @project.task_lists.each do |task_list| %>
<h3><%= task_list.title %></h3>
<p><%= task_list.description %></p>
<% if task_list.tasks.any? %>
<ul>

</ul>
<% else %>
<p>aucune tâche pour cette liste</p>
<%= link_to 'Create task', new_project_task_list_task_path(@project.id, task_list.id) %>
<% end %>
<% end %>
<% else %>
<p>Aucune liste de tâche</p>
<% end %>
<%= link_to 'Create Task List', new_project_task_list_path(@project.id) %>

<h2>Documents</h2>
<% if @project.documents.any? %>
<% @project.documents.each do |document| %>
<h3><%= document.title %></h3>
<p><%= document.description %></p>
<% end %> 
<% else %>
<p>Aucun document</p>
<% end %>
<%= link_to 'Create', new_project_document_path(@project.id) %>